.sec-7 {
    display: flex;
    flex-direction: column;
    padding: 20px 30px 125px 30px;
  }
  .sec-7 h3 {
    font-size: 20px;
    color: #787879;
    padding-bottom: 20px;
    text-align: center;
  }
  .companies-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* padding: 20px 40px; */
  }
  .companies-images div {
    border: 1px solid #d4d4d457;
    padding: 10px;
  }
  .companies-images div p {
    border-bottom: 1px solid #e0dfdf;
    color: #1074e7;
  }